{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block content %}

<div class="project-list">
    {% for page in section.pages %}
    <div class="project-item">
        <div class="project-grid">
            <a href="{{ page.permalink | safe }}" class="project-link">
                <div class="project-text">
                    <span class="project-title">{{ page.title }}</span>
                    <br>
                    <span class="project-description">{{ page.description }}</span>
                </div>
                <div class="project-links">
                    {%- if page.extra.repo -%}
                    <a href="https://github.com/VU-ASE" title="GitHub Repository" class="icon-link">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path
                                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                            </path>
                        </svg>
                        <span>Repository</span>
                    </a>
                    {%- endif -%}

                    {%- if page.extra.docs -%}
                    <a href="https://ase.vu.nl" title="Documentation" class="icon-link">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path>
                            <path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path>
                            <line x1="12" y1="6" x2="16" y2="6"></line>
                            <line x1="12" y1="10" x2="16" y2="10"></line>
                            <line x1="12" y1="14" x2="16" y2="14"></line>
                            <line x1="8" y1="6" x2="8" y2="6"></line>
                            <line x1="8" y1="10" x2="8" y2="10"></line>
                            <line x1="8" y1="14" x2="8" y2="14"></line>
                        </svg>
                        <span>Documentation</span>
                    </a>
                    {%- endif -%}
                </div>
            </a>
            <a href="{{ page.permalink | safe }}" class="project-link">
                {%- if page.extra.image -%}
                <img src="/{{ page.extra.image }}">
                {%- endif -%}
            </a>
        </div>
        <br>
        <hr>
    </div>
    {% endfor %}
</div>

{% endblock content %}